# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the Go coverage tool
*.out
coverage.out

# Go workspace files
go.work
go.work.sum

# Optional vendored dependencies
# vendor/
